<% layout('/layouts/boilerplates') %> 
<div class="col-md-6 offset-3 mt-3">
    <form action="/register" method="post" novalidate class="needs-validation">

        <div class="  mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Enter username" name='username' required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
       
        <div class=" mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name='email' required>
           
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class=" mb-3">
            <label for="password" class="form-label">password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password" name='password' required>
           
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
    
        <div class="mb-3"><button class="btn btn-success col-3 offset-4 mb-3 ">Sing Up</button></div>
    
    
    
    </form>
</div>
